<html>

<head>

<meta charset="UTF-8">
<link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
<script src="../static/js/jquery.min.js"></script>

<script type="text/javascript" src="../static/js/processing.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/processing.css">



<meta name="viewport" content="width=device-width, initial-scale=1">
    
<link rel="stylesheet" href="../static/css/bootstrap.css">
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>

    
<script type="text/javascript" src="../static/js/bootstrap-filestyle.js"> </script>
    
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      height: 250px;
      margin: auto;
  }
.ortala{
    float: none;
    margin: 0 auto;
}
    
</style>
    
<script>
$(":file").filestyle({buttonName: "btn-primary"}); 
</script>
    
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>

<body style="background-color:#E1F3F6">

    <p style="font-size:60px;font-weight: bold;" align="center">Keyword Extraction</p>
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../static/sliderresim/1.png" alt="" width="460" height="345">
      </div>

      <div class="item">
        <img src="../static/sliderresim/2.jpg" alt="" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="../static/sliderresim/3.jpg" alt="" width="460" height="345">
      </div>

      <div class="item">
        <img src="../static/sliderresim/4.jpg" alt="" width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
    
    


  <br>
<center>
<form id="form" action = "http://localhost:5000" method = "POST" enctype = "multipart/form-data">
<div class="col-xs-3 ortala">
<input type ="file" name = "file" id="file" class="filestyle" data-buttonName="btn-info" data-buttonText="Dosya Seç" data-size="nr"/>
</div>
<br>
<input type ="submit" id="submit" name="submit" class="btn btn-info" value="Analiz" data-toggle="tooltip" title="Analiz Et!" data-placement="right"/>
<br><br>
<img id="loading" src="../static/images/a1.gif" />
</form>
</center>
    <br>
    

<style>

div.row-fluid [class*="span"] .center-in-span { 
   float: none; 
   margin: 0 auto; 
   text-align: center; 
   display: block; 
   width: auto; 
   height: auto;
}
    
    
    </style>
    

    
    <br><br>

<center>
<div class="col-sm-4" >
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Textrank Sonuçları</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">

            
    

<div class="form-group">
<textarea class="form-control" rows="15" cols="30">
  {%for i in keyphrases %}
   {{ i }} 
  {% endfor %}       
</textarea> 
        
        
    </div>
  </div>
</div>
    

   </div>
 </div>
    
 
    
 <div class="col-sm-4" >
    
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Tf-İdf Sonuçları</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">

<div class="form-group">
<textarea class="form-control" rows="15" cols="30">
  {%for i in modifiedKeyphrases %}
   {{ i }} 
  {% endfor %} 
</textarea>
        
        
    </div>
  </div>
</div>
     
    </div>
  </div>

    

    
    <div class="col-sm-4" >
    
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Metin Özeti</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">

    <div class="form-group">
<textarea class="form-control" rows="15" cols="30">
{{summary}} 
</textarea>
        
        
        
    </div>
  </div>
</div>
       

            
         </div>
        </div>
       
</center>
       

	
<!--
    <div style="position:fixed;
    bottom:0;
    left:45%;">
  İnfoliz Yazılım
</div>
-->


</body>
</html>



