
<meta charset="UTF-8">
<style type="text/css"> 




.geri{
   width: 15em;  height: 5m;
}

</style>

<meta charset="UTF-8">
<body align="center">
<img src=/home/ayhanyavuz/Desktop/download.png>
<font size="15"><h1>Anahtar Kelime Çıkarma</h1></font>

<font size="4"><h2>Anahtar Kelime Çıkarma</h2></font>
<font size="2"><h3>


Anahtar kelimeler Textrank algoritması , Tf-idf algoritması ve ikisinin birlikte kullanımıyla elde edilmiştir.


</h3></font>
<font size="2"><h4>Keyword Extraction</h4></font>



        <form action="{{url_for('index')}}" method="post">
            
             <font size="5">    <form action="{{url_for('index')}}" method="post" enctype="multipart/form-data">
            	<input type="file" name="file" value="text"><br /><br />
        
      </form></font>
            
              <font size="5" color="white">    <label>Text Dosyası Giriniz:<label> {{sentence}}</label><br></label></font>
            

<table align="center">
<tr>
    
       <td> <font size="5"color="red"><label for="sentimentId" class="empty" >Anahtar Kelime Çıkarma için algoritma seçiniz.</label></font></td>
</tr>
</table>              
            <p><input class="tfidf"  type="submit"  size="30"  value="Tf-İdf " />
               <p><input class="textrank"  type="submit"  size="30"  value="Textrank " />
        		<p><input class="tfidftext"  type="submit"  size="30"  value="Textrank içinde tf-idf " />
        </form>
		
</div>
</div>
<br><br><textarea rows="4" cols="50">

</textarea>
<div id="copyright">İnfoliz Yazılım<a href="http://infoliz.sitem.xyz"></a> </div></body>
		
</body>



