
<meta charset="UTF-8">
<style type="text/css"> 




.geri{
   width: 15em;  height: 5m;
}

</style>

<meta charset="UTF-8">
<body align="center">
<img src=/home/ayhanyavuz/Desktop/download.png>
<font size="15"><h1>Anahtar Kelime Çıkarma</h1></font>

<font size="4"><h2>Anahtar Kelime Çıkarma</h2></font>
<font size="2"><h3>


Anahtar kelimeler Textrank algoritması , Tf-idf algoritması ve ikisinin birlikte kullanımıyla elde edilmiştir.


</h3></font>
<font size="2"><h4>Keyword Extraction</h4></font>



        <form action="{{url_for('index')}}" method="post">
            {%if sentence in ""%}
             <font size="5">    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        
      	</form></font>
            {%else%}
              <font size="5" color="white">    <label>Text Dosyası Giriniz:<label> {{sentence}}</label><br></label></font>
            {%endif%}

<table align="center">
<tr>
    
       <td> <font size="5"color="red"><label for="sentimentId" class="empty" >Anahtar Kelime Çıkarma için algoritma seçiniz.</label></font></td>
</tr>
</table>              
            <p><input class="geri"  type="submit"  size="30"  value="Tf-İdf " />
               <button class="geri" onclick="goBack()">Textrank</button></p>
		 <p><input class="geri"  type="submit"  size="30"  value="Textrank İçinde tf-idf " />
        </form>
		
</div>
</div>
<br><br><textarea rows="4" cols="50">

</textarea>
<div id="copyright">Tüm hakları saklıdır.<a href="http://yvzayhan.sitem.xyz"></a> </div></body>
		
</body>


<script>
function goBack() {
    window.history.back();
}

</script>


    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endwith %}
{% endblock %}
