
<meta charset="UTF-8">
<style type="text/css"> 




.geri{
   width: 15em;  height: 5m;
}

</style>

<meta charset="UTF-8">
<body align="center">
<img src="../static/download.png">
<font size="15"><h1>Anahtar Kelime Çıkarma</h1></font>

<font size="4"><h2>Anahtar Kelime Çıkarma</h2></font>



Anahtar kelimeler Textrank algoritması , Tf-idf algoritması ve ikisinin birlikte kullanımıyla elde edilmiştir.



<font size="2"><h4>Keyword Extraction</h4></font>



        
            
<font size="5">  <form action = "http://localhost:5000" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file"/>
         <br><br><input type = "submit"  value="Analiz"/><br>
                 </form></font>

 
      

	
<center>
<table>
<tr>
<td width="50px">
textrank sonuçları
<textarea rows="15" cols="30">
  {%for i in keyphrases %}
   {{ i }} 
  {% endfor %}   
       
</textarea>   
</td>
<td width="50px">
tf-idf sonuçları
<br><textarea  rows="15" cols="30">

  {%for i in modifiedKeyphrases %}
   {{ i }} 
  {% endfor %} 
   
</textarea>
</td>
<td width="50px">
metin özeti
<br><textarea  rows="15" cols="30">

{{summary}} 
</textarea>
</td>
</tr>
</table>
</center>
<div id="copyright">İnfoliz Yazılım<a href="http://infoliz.sitem.xyz"></a> </div></body>
		
</body>



